.form-button-action{
    height:10px;
}
.titleFonts{
    color:#6861ce;
    font-weight:bold;
}
.detailCards{
    background-color: #a6c3fa24;
}
.permissionTypeHeader{
    font-weight: bold;
    background-color: #84c5de;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
}
.formRowInput{
    padding: 2px;
}

/* tooltip styles */
.tooltip-validation .tooltip-inner{
	background-color: #e64b4b !important;
	color: #fff;
}
.tooltip-validation .bs-tooltip-auto[x-placement^=bottom] .arrow::before,
  .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #e64b4b;
}
.tooltip-validation{
	z-index: 999999999999 !important;
}
/* tooltip styles end*/

.form-control{
    padding: .150rem .75rem !important;
    border: 1px solid #aaa !important;
}
.input-group-text{
    border: 1px solid #aaa !important;
}
/* .select2-close-mask{
    z-index: 999999999999 !important;
}
.select2-dropdown{
    z-index: 999999999999 !important;
} */